<div class="m-auto container mt-5 d-block justify-content-center">
  <h1 class="h1 text-primary text-center w-25 mx-auto">label list</h1>
  <div class="d-flex flex-row-reverse pt-3">
    <form id="skills" class="d-flex flex-start bg-transparent p-2 w-100 me-5" (ngSubmit)="addSkill($event)"
          [formGroup]="formGroup">
      <button *ngFor="let skill of skills" type="button" (click)="selectLabel(skill)" [style]="skill.style"
              class="btn text-white p-2 ml-2 me-2">{{skill.label}}</button>
      <input type="text" class="form-control w-25" formControlName="skill">
    </form>
  </div>
  <div class="alert alert-success" *ngIf="saved === true">the document has been saved successfully</div>
  <form class="mt-5" id="document" [formGroup]="documentFormGroup" (ngSubmit)="validate($event)">
    <textarea formControlName="document" *ngIf="editable" class="form-control" style="height: 120px"></textarea>
    <p *ngIf="!editable" #documentView (textSelect)="getSelectedText($event)" class="form-control mt-5 fs-5 bg-white">
      {{documentText}}
    </p>
    <div class="d-flex justify-content-between mt-2">
      <button type="button" class="btn btn-dark text-white" [disabled]="editable" (click)="editContent()">reset</button>
      <button type="submit" class="btn btn-success text-white" [disabled]="!editable" *ngIf="editable">validate</button>
      <button type="button" class="btn btn-success text-white" *ngIf="!editable" (click)="sendData()">send data</button>
    </div>
  </form>
</div>
